body {
  margin : 1rem 1rem;
  background: lightyellow;
}

#navbar {
  width: 100%;
}

ul.navbar-nav.mr-auto {
    padding-left: 25rem;
}
section {
    padding-top: 5rem;
}
span {
  content: "\002B";
}

#listTask{
    width: 90%;
}

#notesCollection {
   margin-left: 50px;
   margin-top: 20px;
   position: relative;
 }

 input[type=checkbox]:checked + label.strikethrough{
  text-decoration: line-through;
}
